.content{
    display: flex;
    flex-direction: column-reverse;
    height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    margin: 1rem;
    flex: 10rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color:  #A7BEAE;
    padding: 2rem;
    gap: 1rem;
}

.first{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.third{
    width: inherit;
    font-size: 18px;
    text-align: center;
    text-justify: inherit;
}
.btn {
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    background-color: #03be9f;
    border: 1px solid #03be9f;
    border-radius: 6px;
    color: #dafff7;
    padding: 0.5rem 1.5rem;
    text-align: center;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  }
  
  .btn:hover,
  .btn:active {
    background-color: #02afa1;
    border-color: #02afa1;
  }