.cards {
    display: flex;
    flex-direction: column;
      background-image: url('../../public/images/her.webp');
      height: 30rem;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 30px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
     margin-inline: 30rem;
    }